<h1>Listing units</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit</th>
      <th>Conversion</th>
      <th>Component</th>
      <th>Ingredient</th>
      <th>Stock</th>
      <th>Order item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.name %></td>
        <td><%= unit.unit %></td>
        <td><%= unit.conversion %></td>
        <td><%= unit.component %></td>
        <td><%= unit.ingredient %></td>
        <td><%= unit.stock %></td>
        <td><%= unit.order_item %></td>
        <td><%= link_to 'Show', unit %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path %>
